@font-face {
  font-family: "GT Thin";
  src: url("fonts/GT-Thin.otf");
  src: local("☺"),
    url("type/GT-Thin.otf") format("opentype"),
  }
@font-face {
  font-family: "GT Regular";
  src: url("fonts/GT-Regular.otf");
  src: local("☺"),
    url("type/GT-Regular.otf") format("opentype"),
  }
@font-face {
  font-family: "Cabin Bold";
  src: url("fonts/Cabin-Bold.otf");
  src: local("☺"),
    url("type/Cabin-Bold.otf") format("opentype"),
  }
body {
  font-family: "GT Thin";
  font-size: 18px;
}

/*  Header and Navigation  */
header {
  background-color: #2895A8;
}
.menu-title {
  float: right;
  color: white;
  font-family: "Cabin Bold";
  margin-right: 60px;
}
.logo-wrapper {
  width: 100%;
  text-align: center;
  margin: 30px 0px 0px;
  border-bottom: 2px solid #2895A8;
}
.logo-img {
  width: 90%;
  margin-bottom: 30px;
}
/*  class syntax : hdr-nv  */


/*Slideout Menu*/

header {
  width: 100%;
  height: 50px;
  line-height: 50px;
  border-bottom: 2px solid #2895A8;
}

.hamburger {
  background: none;
  position: absolute;
  top: 0;
  right: 0;
  line-height: 45px;
  padding: 0px 15px 0px 15px;
  color: white;
  border: 0;
  font-size: 2em;
  font-weight: bold;
  cursor: pointer;
  outline: none;
  z-index: 1000;
}
.cross {
  background: none;
  position: absolute;
  top: 0px;
  right: 0;
  padding: 22px 15px 0px 15px;
  color: white;
  border: 0;
  font-size: 5em;
  line-height: 65px;
  font-weight: bold;
  cursor: pointer;
  outline: none;
  z-index: 1000;
}
.menu {
  z-index: 100;
  font-weight: bold;
  font-size: 0.8em;
  width: 100%;
  background: white;
  position: absolute;
  text-align: center;
  border-bottom: 2px solid #2895A8;
}
.menu ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  list-style-image: none;
}
.menu li {
  display: block;
  padding: 15px 0 15px 0;
  font-family: "Cabin Bold";
}
.menu li:hover {
  display: block;
  padding: 15px 0 15px 0;
  background: #2895A8;
  color: white;
}
.menu ul li a {
  text-decoration: none;
  margin: 0px;
  color: black;
}
.menu a {
  text-decoration: none;
  color: black;
}
.menu a:hover {
  text-decoration: none;
  color: red;
}




.call-to-action-content-wrapper {
  background-color: #f5f5f5;
  padding: 10px 0 10px;
}
.call-to-action-hdr {
  font-family: "Cabin Bold";
  font-size: 1.5em;
  text-align: center;
  margin: 20px 0 10px 10px;
}
.call-to-action-txt{
  margin: 0 10px 0;
}
.call-to-action_img {
  width: 40%;
  height: 40%;
}
.call-to-action_section-wrapper {
  display: flex;
  background-color: F5F5F5;
}
.flex-float-left {
  flex-direction: row-reverse;
}
.flex-float-right {
  flex-direction: row;
}






/*tabbed sections*/
.content-wrapper {
  padding: 10px;
}
.tab-container {
  width: 90%;
  margin: 0 auto;
}
.tab-container-hdr {
  font-family: "Cabin Bold";
  font-size: 2em;
  text-align: center;
  margin: 40px 0 20px;
}
.tab-hdr {
  font-family: "Cabin Bold";
}
ul.tabs {
  margin: 0px;
  padding: 0px;
  list-style: none;
}
ul.tabs li {
  background: none;
  color: #222;
  padding: 10px;
  text-align: center;
  cursor: pointer;
}
ul.tabs li:hover{
  background: #2895A8;
  color: white;
}
ul.tabs li.current {
  background: #2895A8;
  color: white;
}
.tab-content {
  display: none;
  padding: 15px 0;
}
.tab-content.current {
  display: inherit;
}
.gcal {
  margin: 5%;
}





/*----------------------*/
/*    PAYPAL Wrapper    */
/*----------------------*/
.paypal {
  padding: 0px;
  width: 100%;
  text-align: center;
}
.paypal-btn-hdr {
  width: 100%;
  font-family: "Cabin Bold";
}
.paypal-choice-wrapper {
  width: 100%;
}
.paypal-choice-wrapper table {
  margin: 5px 0;
  width: 100%;
}
.paypalbutton {
  background: white;
  border: 2px solid #2895A8;
  color: black;
  font-family: "Cabin Bold";
  border-radius: 3px;
  margin: 10px 0 40px;
}
