@font-face {
  font-family: "GT Thin";
  src: url("fonts/GT-Thin.otf");
  src: local("☺"),
    url("type/GT-Thin.otf") format("opentype"),
  }
@font-face {
  font-family: "GT Regular";
  src: url("fonts/GT-Regular.otf");
  src: local("☺"),
    url("type/GT-Regular.otf") format("opentype"),
  }
@font-face {
  font-family: "Cabin Bold";
  src: url("fonts/Cabin-Bold.otf");
  src: local("☺"),
    url("type/Cabin-Bold.otf") format("opentype"),
  }
body {
  font-size: 18px;
  font-family: 'Montserrat', sans-serif;
  color: #333B44;
}

/*  Header and Navigation  */
header {
  background-color: white;
  width: 100%;
  height: 125px;
  line-height: 50px;
}
.footer-wrapper,
.hdr-stripe {
  height: 25px;
  background: #7C4DFF;
}
.hdr-mini-logo-wrapper {
  position: absolute;
  top: 35px;
  width: 10%;
  left: 45%;
  height: 75px;
}
.hdr-mini-logo-wrapper img {
  height: 100%;
}
.logo-wrapper {
  display: none;
  width: 100%;
  background-image: url(../images/main-banner.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
}
.logo-img {
  width: 40%;
  margin: 50px 0 50px 25px;
}



/*Slideout Menu*/
.hamburger {
  background: none;
  position: absolute;
  top: 50px;
  line-height: 45px;
  padding: 0px 15px 0px 15px;
  color: #7C4DFF;
  border: 0;
  font-size: 2em;
  cursor: pointer;
  outline: none;
  z-index: 1000;
}
.cross {
  background: none;
  position: absolute;
  top: 50px;
  padding: 22px 15px 0px 15px;
  color: #7C4DFF;
  border: 0;
  font-size: 5em;
  line-height: 65px;
  cursor: pointer;
  outline: none;
  z-index: 1000;
}
.menu {
  z-index: 100;
  font-weight: bold;
  font-size: 0.8em;
  width: 100%;
  background: white;
  position: absolute;
  text-align: center;
}
.menu ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  list-style-image: none;
}
.menu li {
  display: block;
  padding: 15px 0 15px 0;
  font-family: "Cabin Bold";
}
.menu li:hover {
  display: block;
  padding: 15px 0 15px 0;
  background: #7C4DFF;
  color: white;
}
.menu ul li a {
  text-decoration: none;
  margin: 0px;
  color: black;
}
.menu a {
  text-decoration: none;
  color: black;
}
.menu a:hover {
  text-decoration: none;
  color: red;
}
.menu-desktop {
  display: none;
}



.section-hdr {
  font-family: "Cabin Bold";
  font-size: 1.5em;
  color: #7C4DFF;
}
.call-to-action-hdr {
  font-family: "Cabin Bold";
  font-size: 1.5em;
  color: #7C4DFF;
}
.call-to-action_img {
  width: 40%;
  height: 40%;
  display: flex;
  margin: 10% 0;
}
.call-to-action_section-wrapper {
  display: flex;
  padding: 20px;
}
.call-to-action_section-wrapper:last-child {
  margin-bottom: 0;
}
.call-to-action_content-wrapper {
  justify-content: center;
  flex-direction: column;
  display: flex;
}
.flex-float-left {
  flex-direction: row-reverse;
}
.flex-float-right {
  flex-direction: row;
}
.programs-wrapper {
  height: 700px;
}






/*tabbed sections*/
.content-wrapper {
  padding: 10px;
}
.tab-container {
  width: 90%;
  margin: 0 auto;
}
.tab-container-hdr {
  font-family: "Cabin Bold";
  font-size: 2em;
  text-align: center;
  margin: 40px 0 20px;
}
.tabbed-section-hdr {
  text-align: center;
  margin: 30px 0 20px;
}
.tab-hdr {
  font-family: "Cabin Bold";
}
ul.tabs {
  margin: 0px;
  padding: 0px;
  list-style: none;
}
ul.tabs li {
  background: none;
  color: #222;
  padding: 10px;
  text-align: center;
  cursor: pointer;
}
ul.tabs li:hover{
  background: #7C4DFF;
  color: white;
}
ul.tabs li.current {
  background: #7C4DFF;
  color: white;
}
.tab-content {
  display: none;
  padding: 15px 0;
}
.tab-content.current {
  display: inherit;
}
.gcal {
  margin: 5%;
}
.contact-wrapper {
  margin: 5%;
}
.contact-form {
  display: flex;
  width: 100%;
  margin: 0 0 10%;
}
.single-line-form,
.form-submit,
.multi-line-form {
  margin: 10px 5% 0 5%;
  padding: 3px;
}
.single-line-form,
.multi-line-form {
  border: 1px solid black;
  width: 90%;
}
.multi-line-form {
  height: 100px;
}
.form-submit {
  width: 25%;
}





/*----------------------*/
/*    PAYPAL Wrapper    */
/*----------------------*/
.paypal-hdr-section {
  padding: 20px;
}
.paypal {
  padding: 0px;
  width: 100%;
  text-align: center;
}
.paypal-btn-hdr {
  width: 100%;
  font-family: "Cabin Bold";
}
.paypal-choice-wrapper {
  width: 100%;
}
.paypal-choice-wrapper table {
  margin: 5px 0;
  width: 100%;
}
.paypalbutton {
  background: white;
  border: 2px solid #7C4DFF;
  color: black;
  font-family: "Cabin Bold";
  border-radius: 3px;
  margin: 10px 0 40px;
}




/*-----------------------*/
/*      Instructors      */
/*-----------------------*/
.instructor-hdr {
  text-align: center;
  color: black;
  font-family: "Cabin Bold";
  font-size: 2em;
}
.instructor_img {
  width: 300px;
  height: auto;
}
.instructor_img-wrapper {
  border: 2px solid #7C4DFF;
  border-radius: 150px;
  height: 300px;
  width: 300px;
  overflow: hidden;
  margin: 20px auto;
}





/*-------------------------*/
/*      media queries      */
/*-------------------------*/

@media screen
  and (min-width: 768px)
  and (max-width: 5000px)
  and (-webkit-min-device-pixel-ratio: 1) {
    .hdr-mini-logo-wrapper {
      display: none;
    }
    .hdr-mini-logo-wrapper img {
      height: 100%;
    }
    .logo-wrapper {
      margin-top: 90px;
      display: block;
      width: 100%;
      background-image: url(../images/main-banner.jpg);
      background-size: 100%;
      background-repeat: no-repeat;
    }
    .logo-img {
      width: 50%;
      margin: 100px 0 100px 25px;
    }
    .menu-desktop {
      top: 0;
      border-top: 25px solid #7C4DFF;
      display: flex;
      flex-direction: row-reverse;
      width: 100%;
      position: fixed;
      background-color: white;
      -webkit-box-shadow: 0px 10px 24px -1px rgba(163,163,163,1);
      -moz-box-shadow: 0px 10px 24px -1px rgba(163,163,163,1);
      box-shadow: 0px 10px 24px -1px rgba(163,163,163,1);
    }
    .menu-desktop-link {
      width: 17%;
      text-align: center;
      list-style: none;
      padding: 15px 0;
      color: #7C4DFF;
      text-decoration: none;
      font-family: "Cabin Bold";
      font-size: 1.5em;
    }
    .menu-desktop-link:hover,
    .active-menu-desktop {
      color: #03A9F4;
      font-weight: bold;
      border-bottom: 4px solid #03A9F4;
    }
    header {
      display: none;
    }
    .section-hdr {
      font-size: 2em;
    }
    .programs-wrapper,
    .schedule-wrapper {
      max-width: 1000px;
      margin: auto;
    }
    .contact-wrapper {
      display: flex;
      max-width: 1200px;
      margin: auto;
    }
    .contact-section {
      width: 50%;
      padding: 50px;
    }
    .gcal iframe {
      height: 600px;
    }


    .call-to-action-wrapper {
      display: flex;
      flex-direction: row;
      max-width: 1000px;
      margin: auto;
    }
    .call-to-action_img {
      height: 250px;
      width: 250px;
    }
    .call-to-action_section-wrapper {
      display: block;
      width: 33%;
    }
    .call-to-action_content-wrapper {
      justify-content: center;
      flex-direction: column;
      display: flex;
    }
    .flex-float-left {
      flex-direction: row-reverse;
    }
    .flex-float-right {
      flex-direction: row;
    }
    .tabs {
      display: flex;
      flex-direction: row;
      align-content: center;
    }
    .programs-wrapper {
      height: 400px;
    }
}
